:root {
  --cor1: #DFEDF2;
  --cor2: #F2E6C2;
  --cor3: #A6977B;
  --cor4: #81574B;
  --cor5: #A6382E;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--cor2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
}
