:root {
    --cor1: #FFFFFF;
    --cor2: #DEEFE7;
    --cor3: #002333;
    --cor4: #159A9C;
    --cor5: #B4BEC9;
    --fontePadrao: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontePadrao);
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--cor3);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    padding: 4rem;
    width: 90rem;
    max-width: 90rem;
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor4);
}

.header > h1 {
    font-size: 5em;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.517);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90rem;
    max-width: 90rem;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--cor5);
}

.filme-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: .1rem solid grey;
    border-radius: 1rem;
    max-width: 18rem;
}

.img-capa {
    align-self: center;
    width: 15rem;
}

.info-livro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: .5rem;
    text-transform: capitalize;
}

.titulo {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.categoria {
   font-style: italic;
}

.autor {
    color: darkred;
}

.preco {
    font-weight: 900;
    font-size: 2rem;
}

.

