* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    background: rgb(9, 180, 180);
}

.main-container {
    width: 30rem;
    height: auto;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 2rem;
}

.info-container h1{
    margin: 0 0 2rem;
    text-align: center;
    text-shadow: 0 0 .4rem rgba(0, 0, 0, 0.243);
}

.info-container p {
    text-indent: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
}

label {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-style: italic;
    text-indent: .5rem;
    opacity: 0.7;
}

.caixa-form{
    padding: .5rem;
    border-radius: 1.5rem;
    border: .1rem solid rgba(128, 128, 128, 0.595);
    
}

.caixa-form:nth-child(9) {
    cursor: pointer;
    margin-top: 1.5rem;
    background-color: transparent;
}

.caixa-form:nth-child(9):hover {
    border: .1rem solid rgb(9, 180, 180);
}

.caixa-form:focus {
    outline: .1rem solid rgb(9, 180, 180);
}

/* ################### */

.tarefas-container {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.div-tarefa {
    display: flex;
}

.botao-tarefa, .botao-adicionar  {
    cursor: pointer;
    margin-left: .5rem;
    padding: .2rem;
    background-color: transparent;
    border: .1rem solid rgb(9, 180, 180);
}

button:hover {
    background:rgb(9, 180, 180);
    border-radius: .5rem;
    transition: .5s ease-in-out;
}

#nome-tarefa {
    padding: .5rem;
    border-radius: 1.5rem;
    border: .1rem solid rgb(9, 180, 180);
}

#nome-tarefa:focus {
    outline: .1rem solid rgb(9, 180, 180);
}

.invisivel {display: none;}




