* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --cor1: #DFEDF2;
  --cor2: #F2E6C2;
  --cor3: #A6977B;
  --cor4: #81574B;
  --cor5: #A6382E;
}

body {
  background-color: var(--cor2);
  font-family: Verdana, sans-serif;
}