* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: #000;
}

.container {
  width: 15rem;
  height: 10rem;
  background-color: #fff;
}

.container2 {
  width: 15rem;
  height: 5rem;
  background-color: #fff;
  border: 0.1rem dashed #000;
  border-left: 0;
  border-right: 0;
}

.container3 {

  width: 15rem;
  height: 10rem;
  background-color: #fff;
}